chimera:
    host: 127.0.0.1
    port: 7666

site:
    name: OPD
    latitude: "22:32:06.6"
    longitude: "45:35:00.2"
    altitude: 1864

telescope:
    name: fake
    type: FakeTelescope
  
focuser:
    name: fake
    type: FakeFocuser
    
dome:
    name: fake
    type: FakeDome
    mode: track
    telescope: /FakeTelescope/fake

lamp:
    name: fake
    type: FakeLamp

fan:
    name: fake
    type: FakeFan

controller:
    type: ImageServer
    name: fake
    httpd: True
    autoload: False

weatherstation:
    type: FakeWeatherStation
    name: fake

instrument:
    type: InstrumentExample
    name: myinstrument

camera:
    type: QHY600
    name: qhy600m